@import 'fonts';

$primary: white;
$primary_shadow: 0 2px 5px 0 rgb(0 0 0 / 1%), 0 2px 10px 0 rgb(0 0 0 / 12%);
$primary_shadow_sm: 0 1px 3px 0 rgba(0, 0, 0, 0.01), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
$primary_shadow_xxs: rgba(183, 183, 183, 0.15) 0px 1px 15px;

$secondary: #D30047;
$secondary_back: #f5eee6;
$back_nav_color: #2b2929;
$back_secondary_nav_color: #252525;
$masque : rgba(0,0,0,0.6);
$masque_light: rgba(0, 0, 0, 0.4);
$tertiary: #ffc107;
$tertiary_hover: #e0a800;

$facebook: #3b5998;
$web: #0ab8ef;
$insta: #8a3ab9;


$repart_grey_darken: #4c4c4c;
$repart_grey_lighten: #b1b2b2;
$grey: #ced4da;
$black: #1c1c1e;