@font-face {
  font-family: "Remahpro_ExtraBold";
  src: url("http://localhost/master-reset/publics/font/RemahPro-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "lovely";
  src: url("http://localhost/master-reset/publics/font/Lovely.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat_Thin";
  src: url("http://localhost/master-reset/publics/font/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat_ExtraLight";
  src: url("http://localhost/master-reset/publics/font/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat_Light";
  src: url("http://localhost/master-reset/publics/font/Montserrat/static/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat_Regular";
  src: url("http://localhost/master-reset/publics/font/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat_Medium";
  src: url("http://localhost/master-reset/publics/font/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat_SemiBold";
  src: url("http://localhost/master-reset/publics/font/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat_Bold";
  src: url("http://localhost/master-reset/publics/font/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat_ExtraBold";
  src: url("http://localhost/master-reset/publics/font/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat_Black";
  src: url("http://localhost/master-reset/publics/font/Montserrat/static/Montserrat-Black.ttf") format("truetype");
}
.__navbar {
  background-color: white;
  border-bottom: 2px solid #3eaba1;
  position: sticky;
  top: 0;
  padding: 7px 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: 350px 1fr;
  z-index: 1000;
}
.__navbar .__logo .__image {
  width: 90px;
  height: auto;
}
.__navbar .__logo .__slogan {
  margin-left: 15px;
  font-family: "Montserrat_SemiBold";
  color: #1c1c1e;
  font-size: 15px;
}
.__navbar .__nav {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}
.__navbar .__flag_dropdown {
  position: relative;
  color: white;
  border-radius: 20px;
  padding-top: 2px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border: none;
  border: 1px solid #ced4da;
  padding-bottom: 4px;
}
.__navbar .__flag_dropdown .__image {
  width: 20px;
}
.__navbar .__retour {
  color: #2d2d2e;
  font-size: 14px;
  font-family: "Montserrat_SemiBold";
  margin-right: 1rem;
}
.__navbar .__retour:hover {
  color: #1c1c1e;
  text-decoration: none;
}
.__navbar .__flag_menu {
  min-width: 0px !important;
}
.__navbar .__flag_menu .__icon_flag_menu {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.__navbar .__flag_menu .__icon_flag_menu .__dropdown_icon {
  width: 25px !important;
}

@media all and (max-width: 575px) {
  .__navbar {
    grid-template-columns: 230px 1fr;
  }
  .__navbar .__logo .__image {
    width: 75px;
    height: auto;
  }
  .__navbar .__logo .__slogan {
    margin-left: 5px;
    font-size: 12px;
  }
}
@media all and (max-width: 499px) {
  .__navbar {
    padding: 0 15px;
  }
}
@media all and (max-width: 450px) {
  .__navbar {
    grid-template-columns: 80px 1fr;
  }
  .__navbar .__logo .__slogan {
    display: none;
  }
}

/*# sourceMappingURL=navbar.css.map */
