@import '../racine';

.__banner{
    margin-bottom: 2rem;

    .__title{
        font-size: x-large;
        font-family: 'Remahpro_ExtraBold';
        margin: 0;
        margin-bottom: .5rem;
    }

    .__another{
        display: flex;
        flex-wrap: wrap;

        .__like{
            font-size: small;
            margin-right: .5rem;
            margin-bottom: 0;

            .__icon{
                color: $secondary;
            }

            .__nombre{
                font-family: 'Montserrat_Medium';
                color: darken($grey, 40);
            }
        }

        .__localisation{
            font-size: small;
            margin-bottom: 0;

            .__icon{
                color: $tertiary_hover;
            }

            .__text{
                font-family: 'Montserrat_Medium';
                color: darken($grey, 40);
            }
        }
    }

    .__actions{
        margin-top: .25rem;
        text-align: right;

        .__add_like{
            overflow: hidden;
            padding: 0;
            position: relative;
            right: 15px;
            border: none;
            background-color: transparent;
            margin-bottom: .25rem;
            padding-left: .25rem;

            &:hover{
                .__icon{
                    color: $secondary;
                }
                .__text{
                    width: max-content;
                    height: auto;
                }
            }
            .__icon{
                color: $black;
                display: inline-block;
                cursor: pointer;
            }
            .__text{
                width: 0;
                height: 0;
                display: inline-grid;
                transition: 1s;
                font-size: small;
                cursor: pointer;
            }
        }
    }

    .__gallery{
        border-radius: 1.25rem;
        overflow: hidden;
        
        .__images_1, .__images_2, .__images_3, .__images_4, .__images_5{
            position: relative;
            cursor: pointer;

            &:hover{
                .__galery_masque{
                    display: block;
                }
            }
        }

        .__galery_masque{
            display: none;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #1c1c1e80;
            cursor: pointer;
        }

        .__img{
            height: 100% !important;
            @extend %img;
        }
        
        .__images_1{ 
            grid-area: large; 
            height: 350px;
        }


        &.__gallery_5{
            display: grid;
            grid-template-areas:
                'large large large large top_1 top_1 top_2 top_2'
                'large large large large bottom_1 bottom_1 bottom_2 bottom_2';
            gap: 5px;

            .__images_1{ 
                height: 350px;
            }
            .__images_2{
                grid-area: top_1;
                height: calc(345px / 2);
            }
            .__images_3{
                grid-area: top_2;
                height: calc(345px / 2);
            } 
            .__images_4{
                grid-area: bottom_1;
                height: calc(345px / 2);
            }
            .__images_5 {
                grid-area: bottom_2;
                position: relative;
                height: calc(345px / 2);
            }
        }
        
        &.__gallery_4{
            display: grid;
            grid-template-areas:
                'large large top top'
                'large large bottom_1 bottom_2';
            gap: 5px;

            .__images_1{ 
                height: 350px;
            }
            .__images_2{
                grid-area: top;
                height: calc(345px / 2);
            }
            .__images_3{
                grid-area: bottom_1;
                height: calc(345px / 2);
            } 
            .__images_4{
                grid-area: bottom_2;
                height: calc(345px / 2);
            }
        }
        
        &.__gallery_3{
            display: grid;
            grid-template-areas:
                'large top'
                'large bottom';
            gap: 5px;

            .__images_1{ 
                height: 350px;
            }
            .__images_2{
                grid-area: top;
                height: calc(345px / 2);
            }
            .__images_3{
                grid-area: bottom;
                height: calc(345px / 2);
            } 
        }
        
        &.__gallery_2{
            display: grid;
            grid-template-areas:
                'large larger'
                'large larger';
            gap: 5px;

            .__images_2{
                grid-area: larger;
                height: 350px;
            }
        }
        
        &.__gallery_1{
            display: grid;
            grid-template-areas:
                'large';
            gap: 5px;
        }
    }
}

.__galery_more{
    position: absolute;
    background-color: #1c1c1ec2;
    color: $primary;
    border: 1px solid $tertiary_hover;
    right: 15px;
    bottom: 10px;
    border-radius: 4px;
    display: flex;
    width: calc(100% - 30px);

    .__icon{
        font-size: 15px;
        cursor: pointer;
    }

    .__text{
        font-size: 13px;
        font-family: "Montserrat_Medium";
        cursor: pointer;
        padding-left: 7px;
        @include nowrap(1);
    }
}

.__modal_full_screen{
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    margin: 0;

    .__content{
        height: 100%;
        width: 100%;
        border-radius: 0;
        background-color: #1c1c1ee8;
        border: none;

        .__modal_header{
            border-color: #e9ecef1f;

            .__modal_close{
                color: $primary;
            }

            .__modal_title{
                color: $primary;
                margin-left: 30px;

                .__number{
                    color: $tertiary_hover;
                    font-size: larger;
                    font-family: 'Remahpro_ExtraBold';
                }

                .__text{
                    color: $primary;
                    font-size: larger;
                    font-family: 'Remahpro_ExtraBold';
                }
            }
        }

        .__indicator{
            margin: 0;
            bottom: -25px;
        }

        .__inner{
            height: calc(100vh - 120px);

            .__images{
                height: calc(100vh - 120px);

                .__img{
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }

        }
    }

}

@media all and (max-width: 767px)
{
    .__banner{
        margin-bottom: 2rem;

        .__title{
            font-size: 22px;
        }
    }
    
    .__galery_more{
        width: max-content;
        .__text{
            display: none !important;
        }
    }

}

@media all and (max-width: 575px)
{
    .__banner{
        margin-bottom: 1rem;
        .__title{
            font-size: 20px;
        }
        .__another{
            .__like{
                font-size: 11px;
            }
    
            .__localisation{
                font-size: 11px;
            }
        }
    }

}