@import '../racine';

.__banner{
    margin-bottom: 2rem;

    .__title{
        font-size: x-large;
        font-family: 'Remahpro_ExtraBold';
        margin: 0;
        margin-bottom: .5rem;
    }

    .__another{
        display: flex;
        flex-wrap: wrap;

        .__like{
            font-size: small;
            margin-right: .5rem;
            margin-bottom: 0;

            .__icon{
                color: $secondary;
            }

            .__nombre{
                font-family: 'Montserrat_Medium';
                color: darken($grey, 40);
            }
        }

        .__localisation{
            font-size: small;
            margin-bottom: 0;

            .__icon{
                color: $tertiary_hover;
            }

            .__text{
                font-family: 'Montserrat_Medium';
                color: darken($grey, 40);
            }
        }
    }

    .__actions{
        margin-top: .25rem;
        text-align: right;

        .__add_like{
            overflow: hidden;
            padding: 0;
            position: relative;
            right: 15px;
            border: none;
            background-color: transparent;
            margin-bottom: .25rem;
            padding-left: .25rem;

            &:hover{
                .__icon{
                    color: $secondary;
                }
                .__text{
                    width: max-content;
                    height: auto;
                }
            }
            .__icon{
                color: $black;
                display: inline-block;
                cursor: pointer;
            }
            .__text{
                width: 0;
                height: 0;
                display: inline-grid;
                transition: 1s;
                font-size: small;
                cursor: pointer;
            }
        }
    }

    .__gallery{
        border-radius: 1.25rem;
        overflow: hidden;

        .__img{
            height: 100% !important;
            @extend %img;
        }
        
        .__images_1{ 
            grid-area: large; 
            height: 350px;
        }

        &.__gallery_5{
            display: grid;
            grid-template-areas:
                'large large large large top_1 top_1 top_2 top_2'
                'large large large large bottom_1 bottom_1 bottom_2 bottom_2';
            gap: 5px;

            .__images_1{ 
                height: auto;
            }
            .__images_2{
                grid-area: top_1;
            }
            .__images_3{
                grid-area: top_2;
            } 
            .__images_4{
                grid-area: bottom_1;
            }
            .__images_5 {
                grid-area: bottom_2;
            }
        }
        
        &.__gallery_4{
            display: grid;
            grid-template-areas:
                'large large large top top'
                'large large large bottom_1 bottom_2';
            gap: 5px;

            .__images_1{ 
                height: auto;
            }
            .__images_2{
                grid-area: top;
            }
            .__images_3{
                grid-area: bottom_1;
            } 
            .__images_4{
                grid-area: bottom_2;
            }
        }
        
        &.__gallery_3{
            display: grid;
            grid-template-areas:
                'large large top'
                'large large bottom';
            gap: 5px;

            .__images_1{ 
                height: auto;
            }
            .__images_2{
                grid-area: top;
            }
            .__images_3{
                grid-area: bottom;
            } 
        }
        
        &.__gallery_2{
            display: grid;
            grid-template-areas:
                'large larger'
                'large larger';
            gap: 5px;

            .__images_2{
                grid-area: larger;
                height: 350px;
            }
        }
        
        &.__gallery_1{
            display: grid;
            grid-template-areas:
                'large';
            gap: 5px;
        }
    }
}

@media all and (max-width: 767px)
{
    .__banner{
        margin-bottom: 2rem;

        .__title{
            font-size: 22px;
        }
    }

}

@media all and (max-width: 575px)
{
    .__banner{
        margin-bottom: 1rem;
        .__title{
            font-size: 20px;
        }
        .__another{
            .__like{
                font-size: 11px;
            }
    
            .__localisation{
                font-size: 11px;
            }
        }
    }

}