@import '../racine';

.__details_page{
    background-color: $primary;

    .__details_grid{
        display: grid;
        gap: 30px;
        grid-template-columns: 350px 1fr;
    }

    .__details_sidebar{
        position: sticky;
        top: 75px;
        height: calc(100vh - 75px);
        border-right: 3px solid #3eaba1;

        .__reseau_image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .__user_reseau{
            position: absolute;
            top: 30px;
            left: 30px;
            width: calc(100% - 30px);

            .__link{
                display: flex;
                padding: .35rem .75rem;
                font-size: small;
                width: max-content;
                border: 2px solid #cfebef;
                border-radius: 2rem;
                background-color: lighten(#eff8f9, 3.25);
                margin-bottom: .75rem;
                max-width: 100%;
                
                .__info{
                    color: $repart_grey_darken;
                    display: inline-block;
                    margin-left: .25rem;
                    font-family: 'Montserrat_Medium';
                    color: $black;
                    display: flex;
                    align-items: center;
                }

                &:hover{
                    text-decoration: none;
                    .__info{
                        color: mix($repart_grey_darken, $black, 50);
                    }
                }

                &.__mail{
                    .__icon{
                        color: #e10423;
                        display: inline-block;
                        font-size: medium;
                    }
                    &:hover{
                        .__icon{
                            color: #e10423;
                        }
                    }
                }

                &.__facebook{
                    .__icon{
                        color: $facebook;
                        display: inline-block;
                        font-size: medium;
                    }
                    &:hover{
                        .__icon{
                            color: $facebook;
                        }
                    }
                }

                &.__phone{
                    .__icon{
                        color: $tertiary_hover;
                        display: inline-block;
                        font-size: medium;
                    }
                    &:hover{
                        .__icon{
                            color: $tertiary_hover;
                        }
                    }
                }

                &.__web{
                    .__icon{
                        color: $web;
                        display: inline-block;
                        font-size: medium;
                    }
                    &:hover{
                        .__icon{
                            color: $web;
                        }
                    }
                }

                &.__insta{
                    .__icon{
                        color: $insta;
                        display: inline-block;
                        font-size: medium;
                    }
                    &:hover{
                        .__icon{
                            color: $insta;
                        }
                    }
                }
            }
        }
    }

    .__details_big_block{
        padding-right: 30px;
        padding-top: 30px;
    }
}

.__details{
    position: relative;

    .__services_block{
        padding: .75rem 0 0rem 0;
        margin-top: .5rem;
        margin-bottom: 1rem;
        border-top: 1px solid $grey;
    }


    .__contact{
        border-top: 1px solid $grey;
        padding-top: .75rem;

        .__contact_title{
            margin-bottom: .5rem;
            font-size: 17px;
            font-family: 'Remahpro_ExtraBold';
            color: $black;
        }

        .__form{
            .__form_group{
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(2, 1fr);
            }
            .__input{
                border-radius: 0;
                font-family: 'Montserrat_SemiBold';
                margin-bottom: 10px;
                font-size: 14px;
                border-color: darken($grey, 30);

                &:focus, &:focus-visible, &:focus-within{
                    border-color: $tertiary_hover;
                    box-shadow: none;
                }

                &::placeholder{
                    color: darken($grey, 25);
                    font-size: small;
                    font-family: 'Montserrat_Medium';
                }

            }

            .__btn{
                color: $black;
                background-color: $tertiary_hover;
                border: none;
                text-align: center;
                font-family: 'Montserrat_SemiBold';
                font-size: 14px;
                padding: .55rem 1.5rem;
                display: block;
                min-width: 200px;
                margin-left: auto;

                &:hover{
                    background-color: $tertiary;
                }
            }
        }

    }

    .__details_text{
        display: inline-block;
        width: calc(100% - 80px);
        left: 80px;
        position: relative;
    }
    
    .__details_user{
        display: inline-block;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        left: 0;

        .__image{
            border-radius: 50%;
            overflow: hidden;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .__services{
        font-size: small;
        color: $repart_grey_darken;
        background-color: $secondary_back;
        padding: 1rem;
        border-radius: 10px;
        margin-bottom: 1rem;

        .__list{
            margin: 0;
            padding: 0 0 0;
            list-style: none;
            margin-bottom: 1rem;
            
            display: grid;
            gap: 0px;
            grid-template-columns: repeat(2, 1fr);

        }  
        
        .__localisation{
            display: flex;
            margin-bottom: 0;

            .__icon{
                color: $tertiary_hover;
                font-size: small;
                width: 20px;
            }
            .__text{
                color: $black;
                font-family: "Montserrat_Medium";
            }
        }

        .__services_title{
            margin-bottom: .5rem;
            font-size: 17px;
            font-family: 'Remahpro_ExtraBold';
            color: $black;
        }

        .__services_subtitle{
            margin-bottom: .15rem;
            font-size: 14px;
            font-family: 'Montserrat_SemiBold';
            color: mix($black, $repart_grey_darken, 75);
            color: darken($tertiary_hover, 4);
        }
    
        .__service::before{
            font: var(--fa-font-solid);
            content: "\f111";
            font-size: 5px;
            color: mix($tertiary, $tertiary_hover, 50);
            margin-right: .45rem;
            position: relative;
            top: -2px;
            left: 0;
        }
        .__service{
            font-family: 'Montserrat_Medium';
            margin: .25rem 0;
            color: $black;
            font-size: small;
        }
    }
    
    .__title_details{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        flex-wrap: wrap;

        .__category, .__trait, .__user{
            font-size: larger;
            font-family: 'Montserrat_Bold';
            display: inline-block;
            white-space: nowrap;
        }
        .__separator{
            margin: 0 .45rem;
            font-size: 3px;
        }

    }

    .__description{
        text-align: justify;
        font-size: 14px;
        font-family: 'Montserrat_Medium';
        margin-top: .25rem;
        margin-bottom: .35rem;
    }

    .__card_details{
        border-top: 1px solid $grey;
        padding: 2rem 0;

        .__link{
            color:darken(#3eaba1, 5); 
            font-family: 'Remahpro_ExtraBold';
        }

        .__maps{
            margin-top: .75rem;
            width: 100%;
            height: 350px;
        }
    }
}


@media all and (max-width: 1100px)
{
    .__details_page{
        .__details_grid{
            gap: 15px;
            grid-template-columns: 275px 1fr;
        }
    
        .__details_sidebar{
            .__user_reseau{
                left: 15px;
                width: calc(100% - 15px);

                .__link{
                    display: flex;
                    word-break: break-all;
                }
            }
        }
    }

}

@media all and (max-width: 850px)
{
    .__details_page{
        .__details_grid{
            grid-template-columns: 200px 1fr;
        }
    
        .__details_sidebar{
            .__user_reseau{
                left: 15px;
                width: calc(100% - 15px);
                top: 15px;

                .__link{
                    display: flex;
                    word-break: break-all;

                    .__info{
                        font-size: 12px;
                    }
                }
            }
        }
        .__details_big_block{
            padding-top: 15px;
        }
    }

}

@media all and (max-width: 767px)
{
    .__details{
        .__description{
            font-size: 13px;
        }

        .__details_user{
            width: 50px;
            height: 50px;
        }

        .__details_text{
            width: calc(100% - 60px);
            left: 60px;
        }
        
        .__title_details{
            .__category, .__trait, .__user{
                font-size: 19px;
            }
        }
        .__card_details{
            padding-top: 1rem;
        }

        .__services{
            .__list{
                display: grid;
                gap: 0px;
                grid-template-columns: repeat(1, 1fr);
            }  
        }
    }
}

@media all and (max-width: 575px)
{
    .__details_page{
        .__details_grid{
            grid-template-columns: 175px 1fr;
        }
    
        .__details_sidebar{
            top: 65px;
            height: calc(100vh - 65px);
            .__user_reseau{
                left: 0px;
                width: 100%;

                .__link {
                    margin-bottom: .25rem;
                }
            }
        }
        .__details_big_block{
            padding-top: 15px;
        }
    }

    .__details{

        .__contact{
            border-top: 1px solid $grey;
            padding-top: .75rem;

            .__contact_title{
                font-size: 17px;
            }

            .__form{
                .__form_group{
                    grid-template-columns: repeat(1, 1fr);
                    gap: 0;
                }
                

                .__btn{
                    min-width: inherit;
                }
            }
        }

        .__details_text{
            width: calc(100% - 35px);
            left: 35px;
        }
        
        .__details_user{
            width: 30px;
            height: 30px;
        }

        .__services{
            .__services_title{
                font-size: 15px;
            }

            .__services_subtitle{
                font-size: 13px;
            }
        
        }
        
        .__title_details{
            .__category, .__trait, .__user{
                font-size: 15px;
            }
        }

        .__description{
            font-size: 13px;
            margin-top: 0;
        }
    }

}

@media all and (max-width: 499px)
{
    
    .__details_page{
        .__details_grid{
            gap: 0px;
            grid-template-columns: repeat(1, 1fr);
        }

        .__details_sidebar{
            order: 2;
            position: relative;
            top: 0;
            height: auto;
            border-right: none;

            .__reseau_image{
                position: absolute;
                top: 0;
                left: 0;
            }
            
            .__user_reseau{
                position: relative;
                top: 0;
                left: 0;
                width: 100vw;
                padding: 30px 15px;
                z-index: 1;
                min-height: 500px;

                .__link{
                    max-width: calc(100vw - 30px);
                }
            }
        }

        .__details_big_block{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
